@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    background-image: url(bricks.jpg);
    background-size: cover;
}

#area{
    display: flex;
    background-image: url(telainicial.jpg);
    background-size: cover;
    margin-top: 7em;
}

p{
    margin: 10px;
    font-size: 25px;
    -webkit-text-fill-color: rgb(0, 0, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

p:hover{
    margin: 10px;
    font-size: 27px;
    -webkit-text-fill-color: rgb(255, 255, 255); /* Will override color (regardless of order) */
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

#icone{
    width: 200px;
}

#menu{
    border-top: 2px  black solid;
    border-left: 2px  black solid;
    border-bottom: 2px  black solid;
    width: 15em;
    height: 20em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#menuvao{
    width: 15em;
    height: 20em;
    border-top: 2px  black solid;
    border-right: 2px  black solid;
    border-bottom: 2px  black solid;
}

#options{
    display: none;
    margin-top: 7em;
    border: 2px  black solid;
    width: 30em;
    height: 20em; 
    background-color: aliceblue;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#Credits{
   display: none;
    margin-top: 7em;
    border: 2px  black solid;
    width: 30em;
    height: 22em; 
    background-color: rgb(155, 166, 175);
    align-items: center;
    flex-direction: column;
}